b, strong, .menuitem, .friend-name, .friend-tags-wrapper, .readmore, .title, .name, .post-title {
  font-family: 'LXGW WenKai';
  font-weight: 700 !important; 
}
h1.title {
  font-family: inherit;
  font-weight: 700
}
