/* 设置footer的样式 */
footer {
    
    flex-wrap: wrap; /* 允许换行 */
    justify-content: space-between; /* 使iframe之间有间距 */
    justify-content: center;
    padding: 0px;
}

#iframe {
    display: flex;
    flex-wrap: wrap; /* 允许项目换行 */
    justify-content: center;
}

#footer-block {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2.8rem;
    padding: 0;
    background: var(--content-background-color);
    border-radius: var(--box-border-radius);
    box-shadow: 0 0 8px var(--shadow-color);
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    transition-timing-function: ease, ease, ease, ease, linear;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
    transition-property: color, background, box-shadow, border-color, transform;
}

#StaticBadge {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 6px;
    margin-inline-end: 6px;
    unicode-bidi: isolate;
    justify-content: center;
    flex-wrap: wrap;
}

/* 设置iframe的样式，使其自适应并排显示 */
.responsive-iframe {
    flex-basis: calc(33.333% - 20px); /* 每个iframe的基础宽度，减去间距 */
    max-width: 600px; /* 每个iframe的最大宽度 */
    height: 400px; /* 每个iframe的高度 */
    margin: 10px; /* 每个iframe之间的间距 */
}