/* 默认情况下（移动设备），保持单排列 */
.post-wrapper {
    display: block;
  }
  
  .post {
    width: 100%;
    box-sizing: border-box;
  }
  
  /* 在电脑端（屏幕宽度大于 768px）时，采用双排列布局 */
@media (min-width: 768px) {
  .post-list {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
  }

  .post-wrapper {
    flex: 1 0 calc(50% - 10px); /* 每个 block 占据 50% 的宽度，减去间距 */
    margin: 5px; /* 添加间距 */
    display: flex; /* 使用 flex 布局 */
    align-items: stretch; /* 拉伸以占据相同高度 */
    position: relative;
    overflow: hidden;
    vertical-align: top;
  }
}
