#welcome-info {
    white-space: pre-wrap;
    border-radius: 14px;
    --kouseki-welcome-color: #49B1F5;
    --kouseki-ip-color: #49B1F5;
    --kouseki-gl-size: 16px !important;
}

.ip-container {
    position: relative;
    display: inline-block;
}

.ip-mist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.ip-mist:hover {
    opacity: 0;
}

.ip-text {
    position: relative;
    z-index: 1;
}